@font-face {
  font-family: centra-medium;
  src: url(/fonts/CentraNo2-Medium.ttf);
}
@font-face {
  font-family: centra-light;
  src: url(/fonts/CentraNo2-Light.ttf);
}

.by-body {
  background-image: url("../images/rom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  width: 100%;
}

.by-main {
  background-color: white;
  margin-top: 20%;
  font-family: centra-medium;
  height: 70vh;
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  #grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

#grid_1-1 img {
  width: 70%;
  border-radius: 50px;
  margin-left: 15%;
  margin-top: -10%;
}

#grid_1-1 img:hover {
  width: 70.5%;
}

#grid_1-1 p {
  color: black;
  font-size: 0.9rem;
  margin-left: 18%;
  margin-right: 18%;
  font-family: centra-light;
  line-height: 1.5em;
}

#grid_1-1 h3 {
  margin-left: 18%;
  margin-right: 18%;
  font-size: 1.3rem;
}

.overskrift {
  color: white;
  margin-top: -15%;
  position: absolute;
  font-size: 4rem;
  margin-left: 41.5%;
}

.læs-mere {
  text-decoration: none;
  margin-left: 18%;
  color: blue;
}

/* responsiv */

@media (max-width: 800px) {
  .by-main {
    background-color: white;
    margin-top: 35%;
    font-family: centra-medium;
    height: 180vh;
    display: flex;
    justify-content: center;
  }

  #by-img1 {
    width: 70%;
    border-radius: 50px;
    margin-left: 15%;
    margin-top: 2%;
  }
  .læs-mere {
    margin-bottom: 8%;
  }
  .overskrift {
    color: white;
    margin-top: -28%;
    position: absolute;
    font-size: 3.5rem;
  }
}
