@font-face {
  font-family: centra-medium;
  src: url(/fonts/CentraNo2-Medium.ttf);
}
@font-face {
  font-family: centra-light;
  src: url(/fonts/CentraNo2-Light.ttf);
}

/* card */
.card {
  background-image: url("../images/milano.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  width: 100%;
}
@media (min-width: 700px) {
  .card-main {
    background-color: white;
    margin-top: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: centra-medium;
    /* margin-left: 1%;
  margin-right: 1%; */
  }

  .beskrivendetekst-card {
    width: 40vw;
    background-color: white;
    position: absolute;
    padding: 4vw;
    top: 35%;
    z-index: 1;
  }
}
.card-main p {
  line-height: 1.5em;
  font-family: centra-light;
}

b {
  font-family: centra-medium;
}

.card-main h1 {
  border-bottom: 0.1vw solid black;
  width: 16vw;
  padding-bottom: 15px;
  font-size: 2.5rem;
}

#skriv-dig-op {
  border-bottom: 0.1vw solid black;
  width: 24vw;
  padding-bottom: 15px;
  font-size: 2.5rem;
}

.card-img {
  width: 95%;
  margin-top: 15%;
  margin-bottom: 10%;
}

.turist {
  max-width: 65%;
  margin-left: 7.5%;
}

/* form */

form p {
  margin-bottom: 5%;
}

form {
  width: 90%;
  max-width: 600px;
  padding: 5%;
  margin-top: -2%;
}

.input-group {
  margin-bottom: 35px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px 0;
  outline: 0;
  border: 1px solid black;
  color: black;
  background: transparent;
  font-size: 15px;
  transition: 0.2s;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: black;
  cursor: text;
  transition: 0.2s;
}
button {
  padding: 10px 0;
  color: black;
  outline: none;
  background: transparent;
  border: 1px solid black;
  width: 100%;
  cursor: pointer;
  font-family: centra-medium;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row .input-group {
  flex-basis: 48%;
}

button:hover {
  background-color: black;
  color: white;
}

/* responsiv */

@media (max-width: 800px) {
  .card-main {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 35%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: centra-medium;
  }
  .card-main h1 {
    border-bottom: 0.1vw solid black;
    width: 34vw;
    font-size: 1.8rem;
    background-color: white;
    border: 30px solid white;
    font-family: centra-medium;
    margin-top: -5%;
  }
  #skriv-dig-op {
    border-bottom: 0.1vw solid black;
    width: 50vw;
    font-size: 1.8rem;
  }
}
