@font-face {
  font-family: centra-bold;
  src: url(/fonts/CentraNo2-Bold.ttf);
}

@font-face {
  font-family: centra-book;
  src: url(/fonts/CentraNo2-Book.ttf);
}

@font-face {
  font-family: centra-light;
  src: url(/fonts/CentraNo2-Light.ttf);
}

@font-face {
  font-family: centra-medium;
  src: url(/fonts/CentraNo2-Medium.ttf);
}

#forside_baggrundsbillede {
  background-image: url("../images/frontpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  width: 100%;
}
#forside_beskrivendetekst {
  width: 50vw;
  background-color: white;
  padding: 0 4vw 0 4vw;
  margin-top: -8%;
  z-index: 1;
  font-family: centra-book;
}

#forside_main {
  background-color: white;
  margin-top: 30%;
  position: relative;
}

#forside_h1 {
  color: blue;
  font-size: 60px;
  margin-left: 90px;
  font-family: centra-medium;
}

#forside_seveardigheder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10em 4em 4em 4em;
  gap: 1em;
}

p.kortforklaring {
  margin-left: 90px;
  font-size: 22px;
}

.forside_tekst {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#forside_tekst1 {
  margin-left: 90px;
  font-family: centra-book;
}

.forside_nav a {
  margin-left: 4%;
  font-family: centra-medium;
  font-size: 14px;
  color: lightgray;
  text-decoration: none;
  line-height: 40px;
}

#forside_nav_p {
  font-family: centra-light;
  margin: 20% 7% 2% 4%;
  font-size: 18px;
}

#nav_border {
  border-left: 2px solid black;
  margin-left: 32%;
  margin-top: 23%;
  border-left-width: 2px;
}
.u-tekst {
  color: black;
  font-size: 18px;
  margin-left: 10px;
}

#mere {
  display: none;
}

#læsmereknap {
  border: none;
  background-color: white;
  color: blue;
  font-family: centra-book;
}

#forside_blok1 {
  background-color: #4b4b4b;
  color: white;
  margin-top: 7%;
}

.forside_popular_tekst img {
  width: 20vw;
  height: 25vw;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}

.forside_popular_tekst {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 3em;
  padding-bottom: 3em;
}

.forside_popular_tekst p,
h2 {
  margin: 0;
}

.forside_popular_tekst p {
  font-family: centra-light;
  font-size: 15px;
}

.forside_popular_tekst h2 {
  font-family: centra-medium;
}

.forside_popular {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  padding: 0 1em 0.5em 3em;
}

#forside_h2 {
  font-family: centra-medium;
  font-size: 30px;
  padding: 5% 0 0 4%;
}

.forside_grid_1_1 {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

#udforsk {
  font-size: 13px;
  border: 1px solid white;
  border-radius: 25px;
  width: 7vw;
  padding: 0.5em;
  text-align: center;
  margin-top: 50%;
  font-family: centra-book;
}

#udforsk:hover {
  background-color: white;
  color: #4b4b4b;
}

@media (max-width: 600px) {
  .forside_grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .forside_popular {
    display: grid;
    grid-template-columns: repeat(1, 0.5fr);
    padding: 0 1em 0.5em 3em;
  }
}

@media (max-width: 1050px) {
  .u-tekst {
    font-size: 12px;
    margin-left: 6px;
  }

  .forside_nav a {
    font-size: 11px;
    margin-left: 6px;
  }

  #forside_nav p {
    font-size: 13px;
  }
}

@media (max-width: 700px) {
  #nav_border {
    display: none;
  }

  #udforsk {
    display: none;
  }

  .forside_tekst {
    display: grid;
    grid-template-columns: 1fr;
  }

  #forside_beskrivendetekst {
    width: auto;
  }

  p.kortforklaring {
    margin-left: 0;
  }
  #forside_tekst1 {
    margin-left: 0;
  }

  #forside_h1 {
    margin-left: 0;
  }

  .explore {
    display: none;
  }

  .forside_grid_1_1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  #forside_h2 {
    padding: 10% 0 10% 0;
  }
}

@media (max-width: 870px) {
  .forside_popular_tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  #forside_blok1 {
    display: grid;
    place-items: center;
  }
}

@media (max-width: 670px) {
  .forside_popular_tekst {
    display: grid;
    grid-template-columns: 1fr;
  }

  .forside_popular_tekst img {
    width: 30vw;
    height: 35vw;
  }
}
