.Kort img {
  width: 100%;
  height: auto;
  position: relative;
}
.lande {
  background-image: url("../images/nice.jpg");
  background-size: cover;
  position: sticky;
}

.danmark {
  width: 100%;
  max-width: 80%;
  max-height: 100%;
  margin-left: 10%;
  margin-top: -10%;
  border-radius: 25px;
  border-color: black;
  border-style: solid;
  border-width: thin;
}

h2 {
  position: absolute;
  color: white;
  font-size: 2.5rem;
  top: 23px;
  left: 126px;
}

.lande-main {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15%;
  gap: 0.8rem;
}
@media (max-width: 1000px) {
  .lande-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
