/* Lande */

.lande {
  background-image: url("../images/nice.jpg");
  background-size: cover;
}

.lande-main {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15%;
}

.danmark {
  max-width: 80%;
  margin-left: 10%;
  margin-top: -10%;
  border-radius: 25px;
}

/* card */
.card {
  background-image: url("../images/milano.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  width: 100%;
}

.card-main {
  background-color: white;
  margin-top: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.beskrivendetekst-card {
  width: 40vw;
  background-color: white;
  position: absolute;
  padding: 4vw;
  top: 35%;
  z-index: 1;
}

.card-main p {
  line-height: 1.5em;
}

.card-main h1 {
  border-bottom: 0.1vw solid black;
  width: 25vw;
  padding-bottom: 15px;
  font-size: 2.5rem;
}
.card-img {
  width: 42%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 25%;
}

/* ---------------------------- */

#baggrundsbillede {
  background-image: url("../images/barcelona2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  width: 100%;
}
.beskrivendetekst {
  width: 40vw;
  background-color: white;
  padding: 4vw;
  position: absolute;
  z-index: 1;
  top: 90%;
}

#seveardigheder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4em;
  gap: 1em;
}
#top_div {
  margin-top: 17em;
  padding-left: 5em;
}

#top_div h2 {
  font-size: 1.9vw;
}
/* Første seværdighed */
.mulighed1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mulighed1 img {
  border-radius: 27px;
}
.mulighed1 p {
  width: 80%;
}

/* Anden seværdighed */
.mulighed2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mulighed2 img {
  border-radius: 27px;
}
.mulighed2 p {
  width: 70%;
}

/* Tredje seværdighed */
.mulighed3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mulighed3 img {
  border-radius: 27px;
}
.mulighed3 p {
  width: 70%;
}

/* restaurant */

#restaurant {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4em;
  gap: 1em;
}

/* bypas */
.bypas {
  width: 30vw;
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-left: 5em;
}
.bypas p {
  margin-top: 4em;
}

/* populære steder */
.popular {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  padding: 1em;
  padding-left: 3em;
  margin-top: 3em;
}
